    @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

    img {
        border-radius: 15px;
    }

    body {
        background-color: Green;
        color: white;

    }

    #main {
        font-family: 'Baloo Bhaina', cursive;
        width: 600px;
        height: 500px;
        text-align: center;
        position: relative;
        margin: 0 auto;
        margin-top: 300px;
    }

    input {
        top: 75px;
        left: 530px;
        position: center;
        font-size: 1.3em;
        background-color: Transparent;
        border: none;
        outline: none;
        font-weight: bold;
        color: yellow;
        cursor: pointer;

    }

    #card {
        width: 150px;
    }

    #player {
        width: 600px;
        height: 500px;
        text-align: center;
        position: relative;
        margin: 0 auto;
        margin-top: 300px;
    }
    
    #score {
        border-radius: 0;
        padding: 10px 18px;
        text-transform: uppercase;
        top: 75px;
        left: 530px;
        position: center;
        font-size: 1.3em;
        border: none;
        outline: none;
        font-weight: bold;
        color: yellow;
        cursor: pointer;
    }
    